<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PayPal Node App</title>
</head>
<body>
  <h1>Boston Red Sox Hat</h1>
  <h2>Buy For 25 USD </h2>
  
    <input type="submit" value="Buy" onclick="f()"/>

  <script>
    function f(){
      fetch('/pay',{
        method:'POST',
        headers: {
            "Content-Type": "application/json"
          }
      }
      )
      .then((res) => {
          return res.json()
      })
      .then(data=>{
        //console.log(data)
        window.location = data.forwardLink
      })
      .catch((err) => {
        console.log(err)
      })
    }
  </script>
</body>
</html>